<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soundnew"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--<uses-sdk-->
        <!--android:minSdkVersion="8"-->
        <!--android:targetSdkVersion="25" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="Animal Sounds For Kids"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <activity
            android:name=".Pets1"
            android:screenOrientation="landscape"></activity>
          <activity
            android:name=".Pets2"
            android:screenOrientation="landscape"></activity>
           <activity
            android:name=".Animals1"
            android:screenOrientation="landscape"></activity>
            <activity
            android:name=".Animals2"
            android:screenOrientation="landscape"></activity>
            <activity
            android:name=".Birds1"
            android:screenOrientation="landscape"></activity>
            <activity
            android:name=".Birds2"
            android:screenOrientation="landscape"></activity>
         
    </application>

</manifest>
